.headingDiv {
	border: 1px solid lightgrey;
	width: 67%;
	padding-bottom: 15px;
}

.headerDiv :h2{
	margin-bottom: 0px;
}

.loginDiv {
	border: 1px solid lightgrey;
    width: 67%;
    padding: 10px;
    height: 75px;
    padding-top: 20px;
    background: aliceblue;
}

.secretKeyDiv {
	border: 1px solid lightgrey;
    width: 67%;
    padding-bottom: 20px;
}

.secretNote {
	text-align: left;
    width: 40%;
    color: red;
}